

body {
  background:
          radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px) 0px 10px,
          radial-gradient(at 100% 100%,      rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px),
          #8a3 !important;
  background-size: 20px 20px !important;
}

.game-box {
  box-sizing: content-box !important;

  display: inline-block;
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.off {
  background-color: lightgray;
}

.on {
  background-color: green;
}

.box:hover {
  background: #00CCFF;
  cursor: pointer;
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.game-grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 20px white;
  margin-top: 20px;
}

h1, h2, h3, h4 {
  font-family: "Palatino Linotype", "serif";
  color: #e50;
  margin: auto;
  text-align: center;
  width: 50%;
  font-size: 300%;
  text-shadow: 0 2px white;
  font-weight: bold;
  margin-top: 10px;
}

h4 {
  margin-top: 0px;
}